@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    cursor: none;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: aliceblue;
    gap: 100px;
}

.container{
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 30px;
    width: fit-content;
}

@media (max-width: 768px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        transform: scale(0.8);
    }
}

.button{
    background-color: #1b1b1b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    border-radius: 35%;
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    cursor: none;
    height: 200px;
    gap: 25px;
    border: #2b2b2b 1px solid;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: #2b2b2b;
    border: #3b3b3b 1px solid;
    transform: scale(1.1);
}

.button:hover img{
    transform: scale(1.5);
}
.button:active{
    background-color: #272727;
    border: #4b4b4b 1px solid;
    transform: scale(0.97);
}

.button img{
    width: 50px;
    transition: all 0.3s ease;
}

.title{
    font-family: "Jersey 15";
    font-size: 60px;
}