.mac{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 110px;
    background-color: black;
    width: 100vw;
}

.apple-logo{
    width: 125px;
}

.progress{
    height: 8px;
    width: 250px;
    border-radius: 1000px;
}